*{
  background-color: powderblue;
}

div{
  margin: 20px;
}

p{
  font-size: 15px;
  color: darkblue;
  margin: 10px;
  text-indent: 1%;
}

li{
  text-indent: 1%;
  font-size: 15px;
  margin: 10px;
  color: darkblue;
}

h1{
  font-size: 70px;
  border: 10px outset gray;
  height:200px;
  width: 500px;
  font-family: 'Squada One', cursive;
  text-align: center;
  background-color: rgb(109, 62, 62);
  float: left;
  padding: 100px 10px 10px 10px;
  position: absolute;
  left: 40px;
  color: white
}

#bio{
  margin: 20px;
  height: 100px;
  width: 500px;
  position: relative;
  left: 600px;
}

#goals{
  margin: 20px;
  height: 100px;
  width: 500px;
  position: relative;
  left: 600px;
  top: 100px;

}

h2{
  font-size: 20px;
  font-weight: bold ;

}

footer{
  margin: 100px;
  text-align: center;
}

.welcome, .goodBye{
  font-size: 15px;
  margin: 20px;
  text-align: center;
}

#education{
  border: 10px inset gray;
  padding: 25px 0px;
  /*display: inline-block; */
  width: 520px;
  height: 100px;
  text-align: center;
  background-color: lightslategrey;
  position: relative;
  top: 110px;
}

#experience{
  border: 10px inset gray;
  padding: 25px 0px;
  /* display: inline-block; */
  width: 520px;
  height: 100px;
  text-align: center;
  background-color: lightslategrey;
  position: relative;
  top: 100px;
  
}


ol {
  background: #ff9999;
  padding: 20px;
  border: 10px outset darkred;
  margin: 0px 50px;
  display: inline-block;
}


ol li {
  list-style-type: decimal;
  background: #ffe5e5;

  
}

#topTen{
  text-align: center;
  padding: 10px;
  position: relative; 
  left: 50px;
  top: 100px;
  display: inline-block;
  margin: 20px

}

/* #history{
  
  border: 10px solid black; 
  height: 200px;
  width: 500px;
  float: left;
  

}*/