*{
  background-color: powderblue;
}

div{
  margin: 20px;
}

p{
  font-size: 15px;
  color: darkblue;
  margin: 10px;
  text-indent: 1%;
}

li{
  text-indent: 1%;
  font-size: 15px;
  margin: 10px;
  color: darkblue;
}

h1{
  font-size: 30px;
  border: 10px solid black;
  text-align: center;
}

h2{
  font-size: 20px;
  font-weight: bold ;

}

footer{
  margin: 100px;
  text-align: center;
}

.welcome, .goodBye{
  font-size: 15px;
  margin: 20px;
  text-align: center;
}

#education{
  border: 10px inset gray;
  padding: 25px 10px;
  display: inline-block;
  width: 500px;
  height: 100px;
  float: left;
  text-align: center;
}

#experience{
  border: 10px inset gray;
  padding: 25px 10px;
  display: inline-block;
  width: 500px;
  height: 100px;
  text-align: center;
}


ol {
  background: #ff9999;
  padding: 20px;
  border: 10px outset darkred;
  margin: 0px 500px;
}

ol li {
  list-style-type: decimal;
  background: #ffe5e5;
  padding: 5px;
  margin-left: 35px; 
}

.topTen{
  text-align: center;
  padding: 10px;
}

#history{
  margin: 0px 120px;
  background: 
  
}